h1 {
  color: rgb(236, 14, 14);
  font-weight: bold;
  font-size: 40px;
}

.purple {
  color: purple;
}

#orange {
  color: orange;
}

.red {
  color: rgb(240, 12, 12);
}

h4{
  color: rgb(236, 14, 14);
  font-weight: bold;
  font-size: 50px;
};